{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Tech-Trends Development Server</h2>

<p>This server is to enable Tech-Trends clients to preview their work prior to deployment on a development server.</p>
<p>If you are not a client there is not much to see as all work is password protected using the Google sign-on.</p>
<p> If you are a client and can&apos;t see your site after you have signed on then we have not yet added your account to the white list. Drop us a line and we will put that right as soon as possible.</p>

{% if logon_message != "You will need to sign in with a valid gmail account to use this software." %}
<p>You have access to the following client websites using the menu at the head of this page:</p>
<ol>
{% for account in accounts_enabled %}
<li>{{ account }}</li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}
