{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Bedrooms</h2>

<h3>The Barn Room</h3>

<p>The Barn Room can be a double or a twin or a single room and can be changed to your exact requirements. It has a private bathroom and has a bath and a separate shower.  It is located on the ground floor and has easy access for those who do not want to use stairs.  It is in its own little separate suite of rooms just off the main hall and easily accessible. The bedroom was redecorated in the last 12 months and is to a high standard.</p>
<ul>
<li>£100 for a double/twin per room per night</li>
<li>£65 for a single per room per night</li>
<li>Freeview TV</li>
<li>Coffee/tea making facilities</li>
<li>Ensuite facilities - bath and separate shower cubicle</li>
<li>Hairdryer in the room</li>
<li>Wi-Fi throughout the house</li>
</ul>
 	
<h3>Sophie's Room</h3>

<p>This is a beautiful en-suite room on the first floor of the family home.  The room has stunning views of the surrounding farm land and has lots of natural light. There is a large king sized bed for the double bed or it can be split into a twin or a single.  The bathroom has a bath and a free standing shower. It is large and airey with lots of room to move around. The bedroom was redecorated in the last 12 months and is to a high standard.</p>
<ul>
<li>£100 for a double/twin per room per night</li>
<li>£65 for a single per room per night</li>
<li>Freeview TV</li>
<li>Ensuite facilities - bath and separate shower cubicle</li>
<li>Coffee/tea making facilities</li>
<li>Hairdryer in the room</li>
<li>Wi-Fi throughout the house</li>
</ul>


{% endblock %}
