{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Contact Us</h2>

<h3>Booking Form</h3>

<p>Click here to download booking form which then can be emailed to us at enquire@bartlow.u-net.com</p>

<h3>Contact Details</h3>
<address>
Tim & Henrietta Breitmeyer<br />
Westoe Farm<br />
Bartlow, Cambridgeshire, CB21 4PR<br />
Tel/Fax: +44(0)1223 892731<br />
Mobile: 07776 258666<br />
</address>



{% endblock %}
