{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Directions to Westoe Farm</h2>
<address>
Westoe Farm<br />
Bartlow,<br /> 
Cambridgeshire, <br />
CB21 4PR</address>
<p>01223 892731 or 07776 258666</p>

<h3>By Car from Cambridge</h3>

<p>Take the ring road round Cambridge and at the University Hospital take the A1307 towards Haverhill.</p>

<p>Stay on this road straight over 2 roundabouts and round the village of Linton. This is about 8 miles. As you go past Linton you will go through 2 sets of traffic lights then there will be a BP garage on your right then about 1/2 mile you will see a big sign saying the Bartlow Crossroads.</p>

<p>Turn right to Bartlow. Continue to the village then keep going up the hill. The village is just a crossroads so don't blink or you will miss it. Continue on the same road for a further mile and Westoe Farm Is on the right.</p>

<p>We are the 3rd farm track from the village and about 1 mile from the crossroads.</p>

<p>There is a small sign at the bottom of the drive saying Westoe Farm.</p>

<h3>By Car from M11 Northbound</h3>

<p>Take M11 Northbound Jct 9 to A11.</p>

<p>From A11 Northbound towards Newmarket for 5 miles to A1307 Junction towards Haverhill.</p>

<p>On A1307 towards Haverhill go past Linton passing the BP Petrol Station on the right hand side and on to the Bartlow crossroads. Turn right a Bartlow crossroads towards Bartlow.</p>

<p>At crossroads in village carry straight on for 1 mile and we are the 3rd farm track on the right from the village.</p>

<p>There is a small sign at the bottom of the drive saying Westoe Farm.</p>

<h3>By Car from M11 Southbound</h3>

<p>Take M11 Southbound Jct 10 Duxford. Follow A505 to A11 signposted Newmarket then follow the directions above from A1307.</p>

<p>There is no exit at Junction 9 going South on the M11.</p>

<h3>By Car from Saffron Walden / Audley End</h3>

<p>Exit Audley End and follow signs to town centre of Saffron Walden (if you are in the top car park you exit and turn left for the town centre if you are in the bottom car park ask the officials as you leave).</p>

<p>At the bottom of the high street is a set of traffic lights, turn left signposted Radwinter into one way system.</p>

<p>At mini roundabout take 2nd exit sign posted Radwinter.</p>

<p>At traffic lights go straight over following Radwinter.</p>

<p>At next lights turn left signposted Ashdon.</p>

<p>At top of the road turn right to Ashdon.</p>

<p>Carry on road for 6 miles through Ashdon until you come to Bartlow.</p>

<p>At crossroads turn right towards Castle Camps.</p>

<p>We are 1 mile from the village of Bartlow and we are the 3rd Farm turning on the right hand side.</p>

<p>There is a small sign at the bottom of the drive saying Westoe Farm.</p>

<h3>By Rail</h3>

<p>Take London Liverpool Street to Audley End or Whittlesford Parkway OR Take Kings Cross to Cambridge.</p>

<p>Take a taxi to Bartlow.</p>


{% endblock %}
