{% extends "base.html" %}

{% block head_tags_extra %}
<meta name="description" content="Westoe Farm Luxury 5 star Bed &amp; Breakfast Accommodation in Bartlow, Cambridgeshire" />
{% endblock %}

{% block title %}Westoe Farm Home Page{% endblock %}


{% block page_heading %}{% endblock %}
{% block content %}

<h2>Welcome to Westoe Farm <br/>Luxury 5 star Bed &amp; Breakfast Accommodation in Bartlow, Cambridgeshire</h2>

<p>Tranquil views (and a welcome cup of tea) greet you on arrival at this warm and comfortable flint and brick farmhouse.</p>

<p>You will feel relaxed right away in this recently renovated family home where a separate wing on the ground floor, once the original cattle barn, provides beautifully furnished guest accommodation. Guests can also relax in the drawing room with the papers surrounded by the family's varied collection of African wildlife artifacts and paintings.</p>

<p>Albertine and Dreaming Spires climbing roses scramble over the walls, creating a fragrant veil over the house and adjoining barn. Beyond the tennis court and swimming pool, the open garden blends seamlessly into surrounding farmland and foods, perfect for an evening stroll.</p>

<p>Guests are offered an evening meal by arrangement using as much produce from the farm or local sources as possible.</p>

<h3>TIM &amp; HENRIETTA - YOUR HOSTS</h3>

<p>Tim and Henrietta are young, energetic and enthusiastic and entertain guests with the same verve and panache as they approach their many other interests. Tim spent 18 years in The Grenadier Guards serving in Northern Ireland and Germany before coming home to run the family farming business in 1996. Henrietta is a keen horsewoman and excellent cook, and runs a 
<a class = "link_text" href="http://www.chaletduguide.com">ski holiday</a> 
business in France in the winter.</p>

<p>She is also a member of <a class = "link_text" href="http://www.wolseylodges.com">Wolsey Lodges</a> and Westoe Farm can also be found on 
<a class = "link_text" href= "http://www.farmstay.co.uk">www.farmstay.co.uk</a>, 
<a class = "link_text" href= "http://www.farmstayanglia.co.uk">www.farmstayanglia.co.uk</a> and advertises on 
<a class = "link_text" href= "http://www.sawdays.co.uk">www.sawdays.co.uk</a>.</p>

<h3>AWARDS</h3>
<div class ="awards">
<ul>
<li>5 Stars <a class = "link_text" href="http://www.ntopsearch.com/visitbritain5/en-GB/Details.aspx?ContentID=449480"> Visit Britain</a> Bed &amp; Breakfast Award</li>
<li>Silver <a class = "link_text" href="http://www.ntopsearch.com/visitbritain5/en-GB/Details.aspx?ContentID=449480"> Visit Britain</a> Award</li>
<li><a class = "link_text" href="http://search.enjoyengland.com/en-GB/searchresults/default.aspx?contentid&amp;industrytype=1&amp;location=Bartlow,+Cambridgeshire&amp;latitude=52.0833321&amp;longitude=0.316667&amp;radius=3&amp;issearchformaccommodation=True"> enjoyEngland.com</a> Breakfast Award sponsored by Kelloggs</li>
</ul>
</div>

<h3>THE LOCATION</h3>

<p><a class = "link_text" href="http://maps.google.co.uk/maps?f=q&amp;hl=en&amp;q=westoe+farm,+bartlow,+cambridgeshire&amp;sll=53.098145,-2.443696&amp;sspn=11.732389,29.267578&amp;layer=&amp;ie=UTF8&amp;om=1&amp;z=10&amp;ll=52.216021,0.203247&amp;spn=0.37358,0.914612&amp;iwloc=addr">Westoe Farm</a> is ideally situated for many attractions including Duxford Imperial War Museum, Cambridge and Newmarket Racing and Sales. It is also only 25 minutes from Stansted and would make a peaceful and enchanting stopover for longer haul travellers.</p>

<h3>LOCAL ATTRACTIONS</h3>
<div class = "attractions">
<p><strong>National Trust</strong>: Wimpole Hall, Anglessey Abbey, Wicken Fen, Wyken Hall, The Beth Chatto Gardens, Marks Hall Garden and Arboretum.</p>
<p><strong>English Heritage</strong>: Audley End House and Gardens, minature railway Duxford, Chapel Hadleigh Castle, Bury St Edmunds Abbey.</p>
<p><strong>Towns</strong>: Cambridge, Saffron Walden, Lavenham, Clare, Long Melford, Wool Churches on the Suffolk route.</p>
<p><strong>Attractions</strong>: Fitzwilliam museum, Linton Zoo, Duxford Imperial War Museum, Chilford Hall Vine Yard, Wyken Hall and Vine Yard, Cambridge Colleges, Punting on the river Cam, Cambridge Botanical Gardens, Antiques in the picturesque Suffolk villages, Newmarket Racing, The National Stud, The Racing Museum and many many more attractions.</p>


<p>Please just ask us for more ideas.</p>
</div>


{% endblock %}
