{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Room Rates for Bed &amp; Breakfast</h2>

<p>Link to RATES - TERMS AND CONDITIONS</p>


<h3>Sophie's Room</h3>

<p>£100 for a double/twin per room per night<br />
£65 for a single per room per night</p>

<h3>The Barn Room</h3>

<p>£100 for a double/twin per room per night<br />
£65 for a single per room per night</p>

<h3>Evening Meal</h3>

<p>£27.50 per person</p>

<h3>Terms and Conditions</h3>

<p>The following terms and conditions apply to all bookings at Westoe Farm.</p>
<ol>
<li><strong>Reservations</strong>: Bookings are accepted for any day of the week and can be for as long as the client would like to stay. The same applies to weekend stays. We do accept 1 night stays except for Bank Holiday weekends which have to be 2 or more.</li>

<li><strong>Deposit</strong>: In order to confirm a booking a credit card number will be taken and help as a deposit, otherwise a cheque for 10% of the value of your stay should be sent to Westoe Farm. Full payment of your final bill will be payable on your departure.</li>

<li><strong>Cancellations</strong>: If you need to cancel your booking with us your deposit will be non-refundable and if you have left a credit card number a deposit will be taken from the card. If we cannot re-let the accommodation then you will be liable for 30% of the total charge if you have cancelled within 28 days. 60% if you cancel within 14 days and 80% if you cancel within 48 hours of your visit. We will always try and re let the room.</li>

<li><strong>Charges</strong>: All rates include Bed and Breakfast. Any additional charges for evening meals etc. during your stay shall be payable on the presentation of your invoice at the end of your stay.</li>

<li><strong>Check In/Out</strong>: Check in is from 16:00 onwards but if you would like to check in before please let us know and arrangements can be made to help. Check out is by 11.00 in the morning.<li>

<li><strong>Children</strong>: We accept children aged 12 and above. If you have younger children please ask us and we can make arrangements for them to stay. All children must be accompanied by an adult at all times.</li>

<li><strong>Smoking</strong>: The house is totally NON-SMOKING so please do not ask.</li>

<li><strong>Dogs</strong>: Dogs are allowed by prior arrangement and if they are to stay in the house a charge will be made for them as the rooms will have to have a deep clean afterwards. Please be thoughtful if you bring dogs here as my husband is allergic to other animals.</li>

<li><strong>Closure</strong>: We are closed for the month of December, Christmas and the New Year.</li>
</ol>


{% endblock %}
