{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>The Farm</h2>

<p>Westoe Farm is a 1650 acre family owned and run arable farm growing milling wheat for Warburton's bread and sugar beet for British sugar as a few of our crops. We have a family shoot on the farm. We also have a 99.47 KWatt solar farm on our grain store which reduces our carbon footprint by 46 tonnes per year.</p>

<h3>Facilities</h3>
<ul>
<li>Large garden with outdoor seating</li>
<li>Open farm land to walk in</li>
<li>Animals are part of the family</li>
<li>WiFi through out the house</li>
<li>Separate sitting room for clients</li>
<li>Freeview TV in the rooms</li>
<li>Hairdryers in the rooms</li>
<li>Tea and coffee facilities in the rooms</li>
<li>Open wood fires and central heating</li>
<li>Swimming pool</li>
<li>Tennis court</li>
<li>Laundry done on request</li>
<li>Children under 12 accepted with prior notification and are parents responsibility</li>
<li>Credit cards accepted except Amex</li>
<li>Euros accepted with prior notice</li>

<h3>Breakfast menu</h3>

<p>Here are some ideas of what we offer for breakfast. All food is cooked fresh to order and some of it comes from the farm.</p>
<ul>
<li>Fresh fruit, dried fruit, cereal, yoghurts and a selection of bread</li>
<li>Porridge</li>
<li>Eggs, bacon, sausages - all home reared and eggs cooked any way you would like them</li> 
<li>Black pudding</li>
<li>Tomatoes, mushrooms, baked beans</li>
<li>Kedgeree, kippers, smoked fish, fish fingers</li>
<li>Pancakes, french toast</li>
</ul>
<h3>Tennis Court</h3>T

<p>There is a Tennis Court that guests may use. This is also a family used court so please accept it is out of use if the family or friends are using it. Please ask before using the court. Proper tennis shoes must be worn.</p>

<p>If you need to borrow rackets and balls then please ask us. However, they must be returned to us and not left on the court. All tennis balls that land in the swimming pool must be retrieved.</p>

<p>All children must be accompanied by an adult at all times on the tennis court as it has a close proximity to the swimming pool.</p>

<p>Westoe Farm will not accept any liability for any injury sustained by guests whilst using the Tennis Court and other facilties.</p>

<h3>Swimming Pool</h3>

<p>There is an outside pool, which is heated in the summer for guests to use during the summer months. This is a family pool so it may be in use by the family and their friends - it is not exclusively for guests.</p>

<p>Please ask before you use the pool, so we can open it and clean it before you use it.. Please ask for swimming towels and do not take your bath towels out to the pool.</p>

<p>All children under 16 must be accompanied by an adult at all times around the swimming pool as it is unfenced and un-guarded; it is part of the family garden.</p>

<p>Westoe Farm will not accept any liability for any loss or injury sustained by guests whilst using the swimming pool and other facilities.</p>



{% endblock %}
